@import url('https://fonts.googleapis.com/css?family=Poppins');

$bottom-margin: 50px;
$line-width: 2px;
$line-color: rgba(#FFF, 0.7);
$bg-color: #EFE6E2;

html, body{
  height:100%;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

section{
    min-height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 50px 0;
    h1{
        text-align: center;
        margin-bottom: 70px;
    }
    .hv-container{
        display: flex;
        flex-grow: 1;
        // align-items: center;
        justify-content: center;
    }
}


// BASIC STYLE
.basic-style{
    background-color: #EFE6E2;
    &>h1{
        color: #DE5454 - 50;
    }
}

p.simple-card{
  margin: 0;
  background-color: #fff;
  color: #DE5454;
  padding: 30px;
  border-radius: 7px;
  min-width: 100px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(#CC8367, 0.22);
}

.hv-item-parent{
    p{
        font-weight: bold;
        color: #DE5454;
    }
}


// MANAGEMENT HIERARCHY
.management-hierarchy{
    background-color: #303840;
    &>h1{
        color: #FFF;
    }
    .person{
        text-align: center;
        &>img{
            height: 110px;
            border: 5px solid #FFF;
            border-radius: 50%;
            overflow: hidden;
            background-color: #fff;
        }
        &>p.name{
            background-color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: normal;
            color: #3BAA9D;
            margin: 0;
            position: relative;
            b{
                color:rgba(#3BAA9D, 0.5);
            }
            &:before{
                content: '';
                position: absolute;
                width: 2px;
                height: 8px;
                background-color: #fff;
                left: 50%;
                top: 0;
                transform: translateY(-100%);
            }
        }
    }
}

.hv-wrapper{
  display: flex;
  justify-content: center;
  .hv-item{
    display: flex;
    flex-direction: column;
    .hv-item-parent{
      margin-bottom: $bottom-margin;
      position: relative;
      display: flex;
      justify-content: center;      
      &:after{
        position: absolute;
        content: '';
        width: $line-width;
        height: $bottom-margin / 2;
        bottom: 0;
        left: 50%;
        background-color: $line-color;
        transform: translateY(100%);
      }
    }
    .hv-item-children{
      display: flex;
      justify-content: center;
      .hv-item-child{
        padding: 0 15px;
        position: relative;
        
        &:before, &:after{
          content: '';
          position: absolute;
          background-color: $line-color;
          left: 0;
        }
        
        &:before{
          left: 50%;
          top: 0;
          transform: translateY(-100%);
          width: $line-width;
          height: $bottom-margin / 2;
          
        }
        
        &:after{
          top: -$bottom-margin / 2;
          transform: translateY(-100%);
          height: $line-width;
          width: 100%;
        }
        
        &:first-child:after{
          left: 50%;
          width: 50%;
        }

        &:last-child:after{
          width: calc(50% + 1px);
        }        
        
      }
    }
  }
}